services:
  devcontainer:
    build:
      context: ../..
      dockerfile: .devcontainer/minimum/Dockerfile
      args:
        USERNAME: vscode
        GOPATH: /go
        GOMODCACHE: /go/pkg/mod
    volumes:
      - ../..:/workspaces/yourworkspace:cache
      - go_mod_cache:/go/pkg/mod:delegated
    command: ["sleep", "infinity"]
    restart: always

volumes:
  go_mod_cache:
